<!--
    Developed by : Ahmed Alkabir
-->

<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>المكتبة الإلكترونية</title>


        <link rel="stylesheet" href="css/uikit.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/font-awesome.min.css"
    </head>

    <body id="bkg">

        <div class="uk-container uk-container-large box">
            <div class="logo">
                <img src="img/logo.png">
            </div>
        </div>
        <nav class="uk-navbar-container" uk-navbar="mode: click" >
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav menu">
                    <li class="uk-parent"><a href="">الرئيسية</a></li>
                    <li><a href="">المواد العامة</a></li>
                    <li>
                        <a href="">المواد التخصص</a>
                        <div class="uk-navbar-dropdown">
                             <ul class="uk-nav uk-navbar-dropdown-nav">
                                 <li><a href="">قسم الحاسب الألي</a>
                             </ul>
                        </div>
                    </li>
                    <li><a href="">المدونة</a></li>
                </ul>
            </div>

             <div class="uk-navbar-left menu">
                <ul class="uk-navbar-nav">
                    <li class="uk-parent about"><button class="uk-button uk-button-primary"><a href=""></a>حول المشروع</button></li>
                </ul>
            </div>   

            <div class="uk-navbar-container menu-toggle" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-slide" href=""></a>
                </div>
            </div>
        </nav>
        <!-- side nav -->
                <div id="offcanvas-slide" uk-offcanvas="flip:true">
                    <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">

                        <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

                        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-nav-parent-icon" uk-nav>
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li class="uk-parent">
                                <a href="#">Parent</a>
                                <ul class="uk-nav-sub">
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a></li>
                                    <li><a href="#">Sub item</a>
                                        <ul>
                                            <li><a href="#">Sub item</a></li>
                                            <li><a href="#">Sub item</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#js-options">Item</a></li>
                            <li><a href="#">Item</a></li>
                        </ul>

                        <div>
                            <div class="uk-grid-small uk-child-width-auto uk-flex-inline" uk-grid>
                                <div>
                                    <a class="uk-icon-button" href="#" uk-icon="icon: facebook"></a>
                                </div>
                                <div>
                                    <a class="uk-icon-button" href="#" uk-icon="icon: twitter"></a>
                                </div>
                                <div>
                                    <a class="uk-icon-button" href="#" uk-icon="icon: mail"></a>
                                </div>
                                <div>
                                    <a class="uk-icon-button" href="#" uk-icon="icon: receiver"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>        

        
        <div class="uk-container uk-container-large info-project">
            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center grid-ak " uk-grid>
                <div class="uk-card uk-card-default uk-card-body card-ak">
                    <i class="fa fa-book fa-5x"><h1>المكتبة الإلكترونية</h1></i>
                    <h4>مشروع المكتبة الإلكترونية حيث يستهدف طلبة كليات الهندسة بالمجمل 
                        و نحاول أن نوفر أغلب المراجع الهندسية لطلبةالكليات الهندسية
                        والتقنية في محاولة تقليل من الجهد الطالب عن البحث عن المراجع </h4>
                </div>

                <div class="uk-card uk-card-default uk-card-body card-ak">
                    <i class="fa fa-pencil fa-5x"><h1>المدونة الطالب</h1></i>
                    <h4>لا يقف المشروع عند المكتبة بل أيضا نحاول نشر مقالات التي ترتبط بالطالب
                         في محاولة لمساعدة
                         الطالب في مشواره العلمي</h4>
                </div>
            </div>
        </div>
       
        <div class="uk-container uk-container-large last-blogs">
            <div class="uk-grid-match uk-grid-small" uk-grid>
                <div class="uk-width-expand@m">
                    <div class="uk-card uk-card-default uk-card-body card-ak">
                        <h2 class="last-blogs-title"><span>أخر مادون</span></h2>
                        <div class="list-articles">
                            <div class="uk-grid-medium uk-child-width-expand@s uk-grid">
                                <article class="article-item">
                                    <a href="" class="blog-item">
                                        <div class="uk-first-column">
                                            <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="http://via.placeholder.com/550x350" width="350" alt="">
                                            <h1 class="title-blog">شخصيات عظيمة تثبت أهمية التعلم... ابدا لم يفت الآوان عن التعليم</h1>
                                            <p class="entry-details ">قد يظن البعض منا أنّ تحقيق النجاح وتتبع الأحلام رهين بسن دون آخر</p>
                                            <a href=""><p class="author">الكاتب : أحمد الكبير</p></a>                                      
                                        </div>
                                    </a>
                                </article>  
                            </div>

                            <div class="uk-grid-medium uk-child-width-expand@s uk-grid">
                                <article class="article-item">
                                    <a href="" class="blog-item">
                                        <div class="uk-first-column">
                                            <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="http://via.placeholder.com/550x350" width="350" alt="">
                                            <h1 class="title-blog">شخصيات عظيمة تثبت أهمية التعلم... ابدا لم يفت الآوان عن التعليم</h1>
                                            <p class="entry-details uk-text-meta">قد يظن البعض منا أنّ تحقيق النجاح وتتبع الأحلام رهين بسن دون آخر</p>
                                            <a href=""><p class="author">الكاتب : أحمد الكبير</p></a>                                       
                                        </div>
                                    </a>
                                </article>  
                            </div>
                            

                            <div class="uk-grid-medium uk-child-width-expand@s uk-grid">
                                <article class="article-item">
                                    <a href="" class="blog-item">
                                        <div class="uk-first-column">
                                            <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="http://via.placeholder.com/550x350" width="350" alt="">
                                            <h1 class="title-blog">شخصيات عظيمة تثبت أهمية التعلم... ابدا لم يفت الآوان عن التعليم</h1>
                                            <p class="entry-details uk-text-meta">قد يظن البعض منا أنّ تحقيق النجاح وتتبع الأحلام رهين بسن دون آخر</p>
                                            <a href=""><p class="author">الكاتب : أحمد الكبير</p></a>
                                        </div>
                                    </a>
                                </article>  
                            </div>

                            <div class="uk-grid-medium uk-child-width-expand@s uk-grid">
                                <article class="article-item">
                                    <a href="" class="blog-item">
                                        <div class="uk-first-column">
                                            <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="http://via.placeholder.com/550x350" width="350" alt="">
                                            <h1 class="title-blog">شخصيات عظيمة تثبت أهمية التعلم... ابدا لم يفت الآوان عن التعليم</h1>
                                            <p class="entry-details uk-text-meta">قد يظن البعض منا أنّ تحقيق النجاح وتتبع الأحلام رهين بسن دون آخر</p>
                                            <a href=""><p class="author">أحمد الكبير</p></a>
                                        </div>
                                    </a>
                                </article>  
                            </div>

                            <div class="uk-grid-medium uk-child-width-expand@s uk-grid">
                                <ul class="uk-pagination uk-flex-center" uk-margin>
                                    <li><a href="#"><span uk-pagination-previous></span></a></li>
                                    <li class="uk-active"><span>1</span></li>
                                    <li class="uk-disabled"><span>...</span></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><span uk-pagination-next></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>

        <footer class="uk-container uk-container-large footer">
            <div class="uk-child-width-expand@s uk-text-center uk-margin-top grid-ak-footer" uk-grid>
                <div>
                    <h4 class="last-blogs-title"><span>مواقع صديقة</span></h4>
                    <ul class="uk-list">
                        <li>جامعة صبراته</li>
                        <li>وازرة التعليم العالي</li>
                    </ul>
                </div>
                <div>
                    <img class="uk-align-center logo-footer" src="img/logo_footer.png">
                    <span class="logo-title-sbu">جامعة صبراته</span>
                </div>
                <div>
                    <h4 class="last-blogs-title"><span>القائم علي المشرع</span></h4>
                    <span class="span-font uk-text-large uk-text-center"> مشروع تطوعي من تنفيذ طلبة كلية الهندسة - جامعة صبراته </span>
                </div>
            </div>
        </footer>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/uikit.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </body>

</html>